
body {
	font-size: 1.0em;
	font-family: Raleway;
	margin: 0; 
}

.demoBox {
    position:absolute;
    
    background-color: #006494;
	color: #E8F1F2;
	line-height: 2em;
	font-size:2em;
       padding-left: 25px;
    padding-right: 15px;
    padding-top: 5px;
        width: 98%;
    left: 0;
    top: 0;
    
	
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    border-color: black;
   
}



.x {
    position:absolute;
    vertical-align: middle;
    right: 0;
    top:0.7em;
    padding-right: 0px;
    
}

.logo  {
    font-family: monospace;
    background-color: black;
    color: #ffffff;
    font-size: 70px;
    font-weight: 130;
    line-height: 100px;
    width: 150%;
    margin-top: 0px;
    margin-left: 0px; 
    padding-left: 50px
}

.tresc {
    margin-left: 50px;
   
}
.description {
    width:500px;
}
input: valid {
	border: 1px solid red;
}

input {
	border-radius: 5px;
	padding-left: 3px;
	
}

.study {
	border-left: 15px solid red;
}

.work {
	border-left: 15px solid deeppink;
}

.home {
border-left: 15px solid blue;	
}

.PartyHard {
border-left: 15px solid red;
}

.confirmButton {

  /*  background-color: #1B98E0;
    color:aliceblue;
    height: 3em;
    width: 200px;
     */

  border-radius: 0.8em;
  background-color: #1B98E0;
  border: none;
    
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin:1px;
}

.confirmButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.confirmButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.confirmButton:hover span {
  padding-right: 25px;
}

.confirmButton:hover span:after {
  opacity: 1;
  right: 0;
}


